#mybutton{
    color: red;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: black;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

#drop-area{
    width: 500px;
    height: 500px;
    padding: 50px;
    background: white;
    text-align: center;
    border-radius: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 200px;
    display: inline;


}
#img-view{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 1px dashed grey;
    /* background-color: antiquewhite; */
    background-position: center;
    background-size: cover;
}

#img-view p{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 45%;
}